{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}


{% block content %}
<div class="row p-2 row-cols-md-2">
    <div class="col ">
      <div class="card-fluid ">
        <img src="/static/gea.jpg" class=" card-img-top img-thumbnail rounded mx-auto d-block" alt="foto hay"/>
      </div>
    </div>
    <div class="col ">
      <div class="card-fluid ">

        <div class="card-body"  >
          <h5 class="card-title" style="font-size: 1.7rem">Good day!</h5>
<div style="font-size: 1.2rem">
          <li >
            In the beginning, the idea was to create a personal web page for myself to show potential employers, but during the creation process I decided to create this page for everyone. This page can help everyone to create their CV and think about adding to it as well as their goals.
          </li>
          <li >
            This page could eventually replace the classic CV in paper form and would be a kind of digital CV interpretation.
          </li>
          <li>
            This web page shows your CV with a broader overview of each of its positions. This is only the first version and there is still a lot to improve.
          </li>
          <li>
            In the upper right corner there is an option to register to start creating your CV.
If you are an employer and you want to view a potential employee's CV, request a code from the potential employee that will allow you to view his personal CV. Copy this code below into the text window and click view.
          </li>

        </div>
        </div>
        <form method="POST" id="code"  style="font-size: 1.5rem">
          <input type="text" name="code" placeholder="Enter secret key here !">
          <button class="btn btn-outline-primary" type="submit" >View</button>
        </form>
      </div>
    </div>


  </div>
{% endblock %}